body {
background: black;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
border: 0px;
padding: 0px;

}


#searchbar{position:relative; width:1040px; height:auto;}
.formulaire               {display:inline-block;}
.formulaire .champ       {width:170px; height:35px;background-color: orange;}
.formulaire .bouton       { width: 35px;height: 35px;padding: 0;}

.myborder{
  background: linear-gradient(to bottom, #45484d 22%,#000000 100%);
  border-right: 3px solid grey;
  border-top: 3px solid grey;
}
.myborder {
   color: white;
   padding-top: 15px;
   padding-bottom: 20px;
   text-decoration: none;
}
.myborder:nth-child(4){
  border-right: none;
}
.myborder a {
   color: white;
   text-decoration: none;
}


.myborder a:hover{
  color: orange;
  text-decoration: underline;
  }



ul {
    text-align: center;
    list-style-type: none;
  }


#navigation .moncompte {
  border-right: 0;
}

.myborder{
  background: linear-gradient(to bottom, #45484d 22%,#000000 100%);
  border-right: 3px solid grey;
  border-top: 3px solid grey;
}

}
.myborder:nth-child(4){
  border-right: none;
}


.myborder a:hover{
  color: orange;
  text-decoration: underline;
  }

header {
  border: 0px solid white;
  text-align: center;
  font-size: 25px;

}

h1 {
font-family: 'Open Sans', sans-serif;
font-size: 25px;
}

IMG.displayed {

}

#bouton {
text-align: center;
vertical-align: middle;
text-decoration: none;

}

div {
font-size: 50px;
}

#banniere {
text-align: center;
margin: auto;
width: 100%;
}

footer {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to bottom, #45484d 22%,#000000 100%);

}

.rs {
  display: flex;
  justify-content: center;

}

.myrs {

  padding-left: 12px;
  margin-left: 12px;
  margin-top: auto;
  margin-bottom: auto;
}
