body {
background: linear-gradient(120deg,#00c4cc 25%,#6e4593 85%);
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
border: 0px;
padding: 0px;

}

/*petite loupe mais on a pas réussi à l'afficher*/
#searchbar{position:relative; width:1040px; height:auto;}
.formulaire               {display:inline-block;}
.formulaire .champ       {width:170px; height:35px;background-color: orange;}
.formulaire .bouton       { width: 35px;height: 35px;padding: 0;}

/*CSS du menu */

.myborder{
  background: linear-gradient(to bottom, #45484d 22%,#000000 100%);
  border-right: 3px solid grey;
  border-top: 3px solid grey;
}

.myborder {
   color: white;
   padding-top: 15px;
   padding-bottom: 20px;
   text-decoration: none;
}
.myborder:nth-child(4){  /* 4 pour le 4eme élément de la liste */
  border-right: none;
}
.myborder a {
   color: white;
   text-decoration: none;
}


.myborder a:hover{
  color: orange;
  text-decoration: underline;
  }

ul {
    text-align: center;
    list-style-type: none;
  }





header {
  border: 0px solid white;
  text-align: center;
  font-size: 25px;

}


IMG.displayed {

}


h1.tendances {
  color: white;
  font-size: 28px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(to bottom, #45484d 22%,#000000 100%);


}

p.tendances {
    text-align: center;
}


h1.découvertes {
  color: white;
  font-size: 28px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(to bottom, #45484d 22%,#000000 100%);


}

h1.toplist {
  color: white;
  font-size: 28px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(to bottom, #45484d 22%,#000000 100%);

}


p.lecteur {
  text-align: center;
}

div.test {
text-align: center;
}

div.test2 {
text-align: center;
padding-top: 15px;
}



p {
display: flex;
justify-content: center;
}





/* footer */

footer {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to bottom, #45484d 22%,#000000 100%);

}

.rs {
  display: flex;
  justify-content: center;

}

.myrs {

  padding-left: 12px;
  margin-left: 12px;
  margin-top: auto;
  margin-bottom: auto;
}

/* footer */
