body {
background: black;
font-family: 'Open Sans', sans-serif;
border: 0px;
padding: 0px;
color: #000000;
color: rgb(45, 56, 76);

}

#navigation li {
 display: inline;
}
.myborder{
  background: linear-gradient(to bottom, #45484d 22%,#000000 100%);
  border-right: 3px solid grey;
  border-top: 3px solid grey;
}
.myborder {
   color: white;
   padding-right: 100px;
   padding-left: 100px;
   padding-top: 30px;
   padding-bottom: 20px;
   text-decoration: none;
}
.myborder:nth-child(4){
  border-right: none;
}
.myborder a {
   color: white;
   text-decoration: none;
}


.myborder a:hover{
  color: orange;
  text-decoration: underline;
  }

ul {
    text-align: center;
    list-style-type: none;
  }


#navigation .moncompte {
  border-right: 0;
}

header {
  border: 1px solid white;
  text-align: center;
  font-size: 25px;

}


IMG.displayed {

}


h1 {
  color: white;
  text-align: center;

}

p.tendances {
    text-align: center;
}

p.lecteur {
  text-align: center;
}

div.test {
text-align: center;
}

div.test2 {
text-align: center;
padding-top: 15px;
}

h1.toplist {
  padding-top: 50px;
  padding-bottom: 50px;
}

footer {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to bottom, #45484d 22%,#000000 100%);
}

.rs {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
